#detail {
	.inner {
		article {
			h2 {
				margin-bottom: 20px;
				border-bottom: 1px solid #000;
			}
			.write_info {
				display: flex;
				justify-content: space-between;
				font-size: 14px;
				color: #777;
				margin-bottom: 20px;
				.writer {
				}
			}
			> img {
				max-width: 100%;
			}
			.btns {
				display: flex;
				justify-content: flex-end;
				.btn {
					margin-right: 10px;
				}
			}
		}
	}
}
