#list {
	.search_group {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		.left {
			button {
				margin-right: 5px;
			}
		}
		.right {
			display: flex;
		}
		input {
			border: 0;
			border-bottom: 1px solid #f19f88;
		}
	}
	.list_box {
		display: flex;
		flex-wrap: wrap;
		article {
			width: 24%;
			position: relative;
			margin-right: 1.33%;
			margin-bottom: 1.33%;
			background-color: #fff;
			border: 1px solid #f19f88;
			transition: background 0.3s;
			&:nth-of-type(4n) {
				margin-right: 0;
			}
			a {
				display: block;
				padding: 20px;
			}
			.writer {
				color: #777;
				margin-bottom: 10px;
				transition: color 0.3s;
			}
			.title {
				font: bold 20px/1 'arial';
				color: #333;
				margin-bottom: 10px;
				transition: color 0.3s;
			}
			.desc {
				font: 16px/1.4 'arial';
				color: #777;
				margin-bottom: 30px;
				transition: color 0.3s;
				word-break: break-all;
			}
			.date {
				position: absolute;
				bottom: 10px;
				right: 20px;
				font-size: 14px;
				color: #777;
				text-align: right;
				transition: color 0.3s;
			}
			.has_img {
				position: absolute;
				top: 0;
				right: 0;
				background: #f19f88;
				padding: 5px;
				color: #fff;
				transition: 0.3s;
			}
			&:hover {
				background-color: #f19f88;
				.writer,
				.desc,
				.date {
					color: rgba(#fff, 0.6);
				}
				.title {
					color: #fff;
				}
				.has_img {
					background: #fff;
					color: #f19f88;
				}
			}
		}
	}
}
@media screen and(max-width:1200px) {
	#list .list_box article {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;
		&:nth-of-type(4n) {
			margin-right: 2%;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}
@media screen and(max-width:1024px) {
	#list .list_box article {
		width: 49%;
		&:nth-of-type(3n) {
			margin-right: 2%;
		}
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}
